<h2>Users</h2>
<hr />

<p>
    <strong>画像</strong>
    <%= image_tag  "#{@user_image}" %>
</p>
<p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
</p>
<p>
    <strong>e-mail</strong>
    <%= @user.email %>
</p>
<p>
    <strong>パスワード</strong>
    <p>*********</p>
</p>
<p>
    <strong>自己紹介</strong>
    <%= @user.introduction %>
</p>
<p>
    <%= link_to "編集", edit_user_registration_path(current_user) %>
</p>