<div class="reservation_confirm">
    <h2>予約内容の確認</h2>
    <%= form_with model: @reservation do |f| %>
        <table>
            <tr>
                <th>チェックイン</th>
                <td><%= @reservation.check_in %></td>
            </tr>
            <tr>
                <th>チェックアウト</th>
                <td><%= @reservation.check_out %></td>
            </tr>
            <tr>
                <th>宿泊日数</th>
                <td><%= @stay_days %>日</td>
            </tr>
            <tr>
                <th>人数</th>
                <td><%= @reservation.person_num %>人</td>
            </tr>
            <tr>
                <th>お支払い金額</th>
                <td><%= @sum_price %>円</td>
            </tr>
                <%= f.hidden_field :check_in, value: @reservation.check_in %>
                <%= f.hidden_field :check_out, value: @reservation.check_out %>
                <%= f.hidden_field :person_num, value: @reservation.person_num %>
                <%= f.hidden_field :sum_price, value: @sum_price %>
                <%= f.hidden_field :user_id, value: @reservation.user_id %>
                <%= f.hidden_field :room_id, value: @reservation.room_id %>
            <tr>
                <td colspan="2" class="btn_confirm"><%= f.submit "予約を確定"%></td> 
            </tr>
            <tr>
                <td colspan="2" class="btn_confirm"><%= link_to "キャンセル", room_path(@reservation.room_id) %></td>
            </tr>
        </table>
    <% end %>
</div>