<h3>施設詳細</h3>
 
<table>
    <tr>
        <td class="img-profile">
        <% if @room.img.blank?  %>
            <%= image_tag  "default_img/default-room.png" %>
        <% else %>
            <%= image_tag  "#{@room.img}" %>
        <% end %>
        </td>
    </tr>
        <th>施設名</th>
        <td><%= @room.name %></td>
    </tr>
    <tr>
        <th>施設詳細</th>
        <td><%= @room.introduction %></td>
    </tr>
    <tr>
        <th>料金</th>
        <td><%= @room.price %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= @room.address %></td>
    </tr>
</table>
 
<div>
    <ul>
        <li><%= link_to "戻る", :back %></li>
    </ul>
</div>